<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Registerservlet</servlet-name>
  	<display-name>Registerservlet</display-name>
  	<description>first</description>
  	<servlet-class>com.deloitte.mycart.Registerservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description>severpage</description>
  	<servlet-class>com.deloitte.mycart.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description>logoutserver</description>
  	<servlet-class>com.deloitte.mycart.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Registerservlet</servlet-name>
  	<url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
